#lowner-h {
	background: url("/images/lowner-home.jpeg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 350px;
}

#lowner-p {
	background: url("/images/lowner-profile2-small.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 350px;

}

#dylo-h {
	background: url("/images/dylo-home.jpeg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 350px;
}

#dylo-i {
	background: url("/images/dylo-interact-small.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 350px;
}

.project-ss {
	margin-bottom: 10px;
}

#project-left {
	margin-right: 25px;
}