#lowner-h {
	background: url("/images/lowner-home.jpeg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px
	height: auto;
}

#lowner-p {
	background: url("/images/lowner-profile2-small.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px
	height: auto;
}

#dylo-h {
	background: url("/images/dylo-home.jpeg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px
	height: auto;
}

#dylo-i {
	background: url("/images/dylo-interact-small.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px
	height: auto;
}

#jenny-h {
	background: url("/images/jenny.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px
	height: auto;
}

#jenny-i {
	background: url("/images/jenny-work.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px
	height: auto;
}


.project-ss {
	margin-bottom: 10px;
}

.project-left {
	margin-right: 25px;
	padding-left: 0;
}

#lowner-info {
	display: none;
	padding-top: 15px;
}


#dylo-info {
	display: none;
	padding-top: 15px;

}

#jenny-info {
	display: none;
	padding-top: 15px;

}

.more-info-button-area {
	width: auto;
	margin-left: 14%;
}	

.language-list {
	list-style: none;
}

.learn-more {
	font-size: 1.2em;
	font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	padding: .8em 1.4em;
	padding-right: 1.2em;
	background-color: rgba(41, 128, 185,1.0);
	border: none;
	color: white;
	transition: .5s;
}

.learn-more:hover {
	background: darken(#1BE7FF, 10%);
}

.down-arrow:hover {
	-webkit-animation: bounceright .3s alternate ease infinite;
	animation: bounceright .3s alternate ease infinite;
}

.fa-level-down {
	padding-left: 1em;

}

@-webkit-keyframes bounceright {
	from {
		-webkit-transform: translateX(0);
	}
	to {
		-webkit-transform: translateX(3px);
	}
}

#portfolio-photo {
	width:100%;
}

.about-listing {
	border-bottom: 1px solid #424242;
}